name: Reference Python Package

on:
  [push, pull_request]

jobs:
  build:
      uses: ./.github/workflows/build-ast.yml

  tests:
    name: ANTLR AST tests
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
            # Build on the oldest and latest supported Pythons
            # and on the oldest and latest ANTLR version supported
            # by each of those Pythons:
            - python-version: '3.9'
              antlr-version: '4.7'
            - python-version: '3.9'
              antlr-version: '4.13'
            - python-version: '3.13'
              antlr-version: '4.9'
            - python-version: '3.13'
              antlr-version: '4.13'
    defaults:
      run:
        working-directory: source/openqasm

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v7
        with:
          name: openqasm3-python-wheel
          path: ./source/openqasm/

      - name: Install package
        run: |
          set -e
          pip install --upgrade pip wheel
          pip install -r requirements-dev.txt
          pip install 'antlr4_python3_runtime==${{ matrix.antlr-version }}'
          pip install "$(echo openqasm3-*.whl)[all]"

      - name: Run tests
        run: |
          # Swap into the testing directory so the imported `openqasm3` is the
          # wheel version not the current-directory version.  The
          # `--import-mode=importlib` stops pytest from modifying the path to
          # accidentally put the checked-out version (with no ANTLR) back.
          cd tests
          pytest -vv --color=yes --import-mode=importlib .

  style:
    name: Check AST style
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: source/openqasm
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Prepare environment
        run: |
          set -e
          python -m pip install --upgrade pip wheel
          python -m pip install -r requirements-dev.txt

      - name: Check formatting
        run: black --check --diff openqasm3 tests

      - name: Check lint
        run: pylint openqasm3 tests

      - name: Check types
        run: mypy --ignore-missing-imports openqasm3 tests

  docs:
    name: AST documentation build
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: source/openqasm

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/download-artifact@v7
        with:
          name: openqasm3-python-wheel
          path: ./source/openqasm/

      - name: Install package
        run: |
          set -e
          pip install --upgrade pip wheel
          pip install -r requirements-dev.txt
          pip install "$(echo openqasm3-*.whl)[all]"

      - name: Build documentation
        working-directory: source/openqasm/docs
        run: make html

      - uses: actions/upload-artifact@v6
        with:
          name: openqasm3-html-documentation
          path: source/openqasm/docs/_build/html/*
          if-no-files-found: error
