name: Tests (AST)

on:
  [push, pull_request]

jobs:
  tests:
    name: ANTLR AST tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        antlr-version: ['4.9.2']
    defaults:
      run:
        working-directory: source/grammar

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - uses: actions/setup-java@v2
        with:
          java-version: '15'
          distribution: 'adopt'

      - name: Update pip
        run: python -mpip install --upgrade pip

      - name: Install ANTLR4
        run: curl -O https://www.antlr.org/download/antlr-${{ matrix.antlr-version }}-complete.jar

      - name: Install ANTLR4 Python runtime
        run: python -mpip install antlr4-python3-runtime==${{ matrix.antlr-version }}

      - name: Generate grammar
        run: java -Xmx500M -jar antlr-${{ matrix.antlr-version }}-complete.jar -o ../open_note/parser/antlr/ -Dlanguage=Python3 -visitor qasm3.g4

      - name: Install Python packages for AST
        run: python -mpip install -r requirements.txt -r requirements-dev.txt
        working-directory: source/open_node

      - name: Check format
        run: black --check --diff .
        working-directory: source/open_node

      - name: Check style
        run: pylint .
        working-directory: source/open_node

      - name: Run tests
        run: pytest -vv --color=yes tests
        working-directory: source/open_node
